<div class="container">
<h1>Update House Name</h1>
<%= simple_form_for @house do |f| %>
<%= f.input :name %>
<%= f.submit "Confirm Changes", class: "btn btn-primary" %>
<%= link_to "Cancel", :back, class: "btn btn-primary" %>
<% end %>

</div>
