<div class="container">
  <h1>Houses</h1>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>House Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <% @house.each do |house| %>
      <tr>
        <td><%= link_to house.name, students_path(house_id: house.id) %></td>
        <td><%= link_to "Edit", edit_house_path(house), class: "btn btn-default" %></td>
        <td><%= link_to "Delete", house_path(house), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to "Add New House", new_house_path, class: "btn btn-primary" %>
</div>
