<div class="container">
  <div class="jumbotron">
    <h1>CodeTillYouErode</h1>
    <p><i>By Dhanunjaya & Rahul</i></p>
    <a href="http://tinyurl.com/hxe4zcc"><i class="fa fa-git-square" style="font-size: 3em;"></i></a>
  </div>
</div>
