<div class="container">
  <div class="jumbotron">
    <h1>CodeTillYouErode</h1>
    <h2><i>A bootcamp not for the faint hearted</i></h2><br>
    <p style="font-size: 1em;"><i>By Dhanunjaya &amp; Rahul</i></p>
    <h2><a href="http://tinyurl.com/hxe4zcc"><i class="fa fa-git-square"></i></a></h3>
  </div>
</div>
