<div class="container">
  <h1>Edit your standard name</h1>
  <%= simple_form_for @standard do |f| %>
  <%= f.input :name %>
  <%= f.submit "Change Name", class: "btn btn-default" %>
  <%= link_to "Cancel", :back, class: "btn btn-default" %>
  <% end %>
</div>
