<div class="container">
<h1>Standards</h1>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Level</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @standard.each do |standard| %>
    <tr>
      <td><%= link_to standard.name, students_path(standard_id: standard.id) %></td>
      <td><%= link_to "Edit", edit_standard_path(standard), class: "btn btn-default" %></td>
      <td><%= link_to "Delete", standard_path(standard), class: "btn btn-default", method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "Add New Standard", new_standard_path, class: "btn btn-primary" %>
</div>
